<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartQA.operation.dao.CourseDAO">
    <select id="getCourseList" resultType="com.smartQA.operation.dataobject.Course">
        SELECT *  FROM `course` WHERE `isactive`=1
    </select>
    <insert id="addCourse" parameterType="com.smartQA.operation.dataobject.Course">
        INSERT INTO `course`(
        `name`,
        `password`,
        `teacher`,
        `capacity`,
        `startdate`,
        `enddate`,
        `isactive`)
        VALUES (#{name},#{password},#{teacher},#{capacity},#{startdate},#{enddate},#{isactive});
    </insert>

    <update id="deleteCourse" >
        UPDATE `course` SET `isactive`=0 WHERE `name`=#{name} AND `password`=#{password};
    </update>

    <select id="getCourse" resultType="com.smartQA.operation.dataobject.Course">
        SELECT * FROM `course` WHERE `name`=#{name} AND `isactive`=1;
    </select>

</mapper>