<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartQA.operation.dao.UserDAO">
    <select id="getUserList" resultType="com.smartQA.operation.dataobject.User">
        SELECT *  FROM `user`
    </select>

    <insert id="addUser" parameterType="com.smartQA.operation.dataobject.User">
        INSERT INTO `user`(
        `nickname`,
        `remark`,
        `gender`,
        `lang`,
        `city`,
        `province`,
        `country`,
        `avatarUrl`,
        `joinCourse`)
        VALUES (#{nickName},#{remark},#{gender},#{lang},#{city},#{province},#{country},#{avatarUrl},"");
    </insert>

    <delete id="deleteUser" >
        DELETE `user` WHERE `nickname`=#{nickName};
    </delete>

    <select id="getUser" resultType="com.smartQA.operation.dataobject.User">
        SELECT * FROM `user` WHERE `nickname`=#{nickName};
    </select>
</mapper>